@using System.Drawing.Drawing2D
@using System.Web.UI.WebControls
@model DapperDog.Models.HomeIndexViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid bg-1 text-center">
    <h2>Welcome to the Dapper Dawg Blog!</h2>
    <div class="row">
        <div class="col-sm-8">
            <div class="column1">
                <div class="form-group">
                    @foreach (var post in Model.BlogPosts)
                    {
                        <div id="blog">
                            <h2 class="blogtitle">@Html.ActionLink(post.PostTitle, "ListSinglePost", new {id = post.PostID}, new {@class = "alink"})</h2>
                            <span class="line" id="date">@post.PostDate.ToShortDateString()</span>
                            <span class="line" id="category">@post.CategoryName</span>
                            <span class="line" id="author">@post.Author</span>
                            <div class="ellipsis">
                                @Html.Raw(post.PostContent)
                                <a class='more'>More</a>
                                <a class='less'>Less</a>
                            </div>
                            @foreach (var tag in post.BlogTags)
                            {

                                <span class="tags">@Html.ActionLink("#" + tag.TagName, "ListPostsByTag", new {id = tag.TagID})</span>
                            }

                            @if (User.IsInRole("Admin"))
                            {
                                <br/>
                                @Html.ActionLink("Edit Post", "EditPost", "Blogs", new {id = post.PostID}, new {@class = "btn btn-primary", id = post.PostID})
                                <button class="btn btn-danger btnShowConfirmDelete" value="@post.PostID" id="btnShowConfirmDelete @post.PostID">Delete Post</button><br/>
                                <div class="ConfirmDelete" value="@post.PostID" id="ConfirmDeleteDiv_@post.PostID" style="display: none;">
                                    <p>Are you sure you want to delete this post?</p>
                                    <button class="btn btn-primary btnCancelConfirmDelete" value="@post.PostID" id="btnCancelConfirmDelete_@post.PostID">Cancel</button>
                                    @Html.ActionLink("Confirm Delete", "DeletePost", "Blogs", new {id = post.PostID}, new {@class = "btn btn-danger btnConfirmDelete", id = post.PostID})
                                </div>
                            }
                        </div>
                    }

                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="column3">
                <div class="categories">
                    <h2 class="categorytitle">Categories:</h2>
                    @foreach (var category in Model.Categories)
                    {
                        @Html.ActionLink(category.CategoryName, "ListPostsByCategory", new {id = category.CategoryID}, new {@class = "alink"})
                        <br/>
                    }
                </div>
            </div>
        </div>
    </div>
    <div id="PageButtons">
    @if (@Model.RouteID != 0)
    {
        <div class="PreviousPage btnPageButton">
            @Html.ActionLink("Previous Page", "Index", new {id = @Model.RouteID - 1}, new {@class = "btn btn-primary"})
        </div>
    }
    @if ((@Model.PostTotal/5) > Model.RouteID)
    {
        <div class="NextPage btnPageButton">
            @Html.ActionLink("Next Page", "Index", new {id = @Model.RouteID + 1}, new {@class = "btn btn-primary"})
        </div>
    }
    </div>
</div>

@section scripts{
    <script src="~/Scripts/app/deletePost.js"></script>
    <script src="~/Scripts/jquery.dotdotdot.min.js"></script>
    <script src="~/Scripts/app/myDotDotDot.js"></script>
}
