@model DapperDog.Models.EditPostViewModel

@{
    ViewBag.Title = "EditPost";
}

<h2>Edit Post</h2>

<form class="form-horizontal" action="@Url.Action("EditPost")" method="POST">
    <fieldset>
        <div class="inputboxes">
            <label for="AddBlogPostTitle">Title</label>
            <input name="PostTitle" id="AddBlogPostTitle" type="text" value="@Model.BlogPost.PostTitle"/>
        </div>
        <input class="hidden" name="PostID" value="@Model.BlogPost.PostID"/>
        <input class="hidden" name="Author" value="@Model.BlogPost.Author"/>
        <input class="hidden" name="PostDate" value="@Model.BlogPost.PostDate"/>
        <div>
            <label for="PublishDate">Publish Date:</label>
            @if (@Model.BlogPost.PublishDate.HasValue)
            {
                <input id="PublishDate" type="text" name="PublishDate" value="@Model.BlogPost.PublishDate.Value.ToShortDateString()"/>
            }
            else
            {
                <input id="PublishDate" type="text" name="PublishDate" />
            }
        </div>
        <div>
            <label for="ExpirationDate">Expiration Date:</label>
            @if (@Model.BlogPost.ExpirationDate.HasValue)
            {
                <input id="ExpirationDate" type="text" name="ExpirationDate" value="@Model.BlogPost.ExpirationDate.Value.ToShortDateString()"/>
            }
            else
            {
                <input id="ExpirationDate" type="text" name="ExpirationDate" />
            }
        </div>
        <div class="radiobutton">
            <label for="Special">Current Special:</label>
            <input id="Special" type="radio" name="special" />Is Current Special
            <input id="Special" type="radio" name="special" />Is Not Current Special
        </div>
        <div class="dropdown">
            <label for="inputCategoryID">Category</label>
            <div>
                <select name="CategoryID" class="form-control input-sm" id="inputCategoryID"></select>
            </div>
            <div>
                <button class="btn btn-primary" id="btnShowAddCategoryInput">Add Category</button>
                <div id="addCategoryInputDiv" style="display: none;">
                    <input id="addCategoryInput" type="text" />
                    <button id="btnSaveNewCategory">Add</button>
                    <button id="btnHideAddCategoryDiv">Cancel</button>
                </div>
            </div>
        </div>
        <div class="form-group" id="blog">
            <textarea id="TinyMCEBox" name="PostContent">@Model.BlogPost.PostContent</textarea>
        </div>
        <div>
            <label for="myTags">Tags</label>
            <ul id="myTags" name="TagsToAdd">
                @foreach (var tag in Model.BlogPost.BlogTags)
                {
                    <li>@tag.TagName</li>
                }
            </ul>
        </div>
        <div>
            @Html.ActionLink("Cancel", "Index", "Home", null, new { @class = "btn btn-primary" })
            <button class="btn btn-primary">Submit</button>
        </div>
    </fieldset>
</form>

@section scripts {
    <script src="~/Scripts/tinymce/tinymce.min.js"></script>
    <script src="~/Scripts/app/tinyMCEBox.js"></script>
    <script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
    <script src="~/Scripts/tag-it.min.js"></script>
    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/redmond/jquery-ui.css">
    <link href="~/Content/jquery.tagit.css" rel="stylesheet" type="text/css">
    <script src="~/Scripts/app/tag-It.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/app/postValidation.js"></script>
    <script src="~/Scripts/app/manageCategories.js"></script>
    <script src="~/Scripts/app/datePicker.js"></script>
}