
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-6">
        <h2>Administrative Duties</h2>
        <div id="button">
            @Html.ActionLink("Add New Post", "AddBlogPost", "/Blogs/AddBlogPost", new {@class = "btn btn-primary"})
            <br/>
        </div>
        <div id="button">
            @Html.ActionLink("Add New Static Page", "AddStaticPages", "/Blogs/AddStaticPages", new {@class = "btn btn-primary"})
            <br/>
        </div>
        <div id="button">
            @Html.ActionLink("Edit Static Page", "EditStaticPage", "/Blogs/EditStaticPage", new {@class= "btn btn-primary"} )
        </div>
                <div id="button">
                    @Html.ActionLink("View Unapproved Posts", "DisplayPostsWithStatus0", null, new {@class = "btn btn-primary"})
                    <br/>
                </div>
                <div id="button">
                    @Html.ActionLink("View Deleted Posts", "DisplayPostsWithStatus2", null, new { @class = "btn btn-primary" })
                    </div>
                </div>
    </div>



